<section class="admin-dashboard">
  <h1>Admin Dashboard</h1>
  <div class="stats">
    <p>Number of Products: <%= @products_count %></p>
    <p>Number of Categories: <%= @categories_count %></p>
  </div>
</section>
